<%- include("../layout/header.ejs");%>

<div class="modal" style="display: none">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>User Details</h2>

    <form action="" method="post" enctype="multipart/form-data">
      <div class="row mt-sm-4 justify-content-center ">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card profile-widget">
            <div class="profile-widget-header text-center py-3">
              <img alt="image" width="200" height="200" id="blah" src="https://avatar.iran.liara.run/public/boy?username=Ash" class="profile_img rounded-circle">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7">
          <div class="card-body">
            <div class="form-group">
              <label class="col-form-label text-md-right col-12 col-md-5 col-lg-3"> Name</label>
              <div class="col-sm-12 col-md-12">
                <input type="text" name="name" value="test" class="form-control" disabled="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label text-md-right col-12 col-md-5 col-lg-3">Nick Name</label>
                <div class="col-sm-12 col-md-12">
                  <input type="text" name="nickName" value="tst" class="form-control" disabled="">
                </div>
            </div>
            <div class="form-group">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
              <div class="col-sm-12 col-md-12">
                <input type="email" name="email" value="test@gmail.com" class="form-control" disabled="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Challenge</label>
              <div class="col-sm-12 col-md-12">
                <input type="challenge" name="challenge" value="test" class="form-control" disabled="">
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-sm-12 col-md-12 text-right">
                <a href="/user" class="btn btn-info">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 50%;
    border-radius: 10px;
  }

  .close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".view-btn").forEach((button) => {
    button.addEventListener("click", function () {
      const userId = this.dataset.id;
      window.location.href = `/viewUser?id=${userId}`; 
    });
  });
});
</script>

<%- include("../layout/footer.ejs");%>
