<!-- Sidebar -->
<div class="sidebar">
  <div class="logo-container">
    <img class="img-g" src="/logo123.jpg" alt="Logo" />
  </div>
  <a
    href="/"
    class="nav-link"
    data-page="Dashboard"
    onclick="updateCommonBar('Dashboard')"
    >Dashboard</a
  >
  <a
    href="/users"
    class="nav-link"
    data-page="Users"
    onclick="updateCommonBar('Dashboard/Users')"
    >Users</a
  >
  <a
    href="/musics"
    class="nav-link"
    data-page="Musics"
    onclick="updateCommonBar('Dashboard/Musics')"
    >Musics</a
  >
  <a
    href="/challenges"
    class="nav-link"
    data-page="Challenges"
    onclick="updateCommonBar('Dashboard/Challenges')"
    >Challenges</a
  >
  <a
    href="/contactUs"
    class="nav-link"
    data-page="Contact Us"
    onclick="updateCommonBar('Dashboard/Contact Us')"
    >Contact Us</a
  >
  <a
    href="/faq"
    class="nav-link"
    data-page="FAQ"
    onclick="updateCommonBar('Dashboard/FAQ')"
    >FAQ</a
  >
  <a
    href="/banners"
    class="nav-link"
    data-page="Banners"
    onclick="updateCommonBar('Dashboard/Banners')"
    >Banners</a
  >
  <a
    href="/termsConditions"
    class="nav-link"
    data-page="Terms & Conditions"
    onclick="updateCommonBar('Dashboard/Terms & Conditions')"
    >Terms & Conditions</a
  >
  <a
    href="/privacyPolicy"
    class="nav-link"
    data-page="Privacy Policy"
    onclick="updateCommonBar('Dashboard/Privacy Policy')"
    >Privacy Policy</a
  >
  <a
    href="/aboutUs"
    class="nav-link"
    data-page="About Us"
    onclick="updateCommonBar('Dashboard/About Us')"
    >About Us</a
  >
</div>

<!-- Main Content -->
<div class="navbar">
  <div class="navbar-header">
    <h1>Admin Dashboard</h1>
    <div class="user-info">
      <span>Admin</span>
      <button class="logout-btn">Logout</button>
    </div>
  </div>
  <div id="common-bar" class="common-bar">Dashboard</div>
